* {
  box-sizing: border-box;
}

:root {
  --bgColor: #1a0841;
  --textYellow: #e4e932;
  background-color: var(--bgColor);
}

body .container-body {
  background-color: var(--bgColor);
  padding: 0;
  margin: 0;
}

/* ------------------------------------- weather.jsx ------------------------------------- */
.weather-container {
  text-align: center;
  margin: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.city-input {
  padding: 15px;
  font-size: 20px;
  margin-right: 15px;
  width: 300px; /* Make the input field larger */
}

.submit-button {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
}
.weather-cards {
  display: flex;
  flex-direction: row; /* Display cards vertically */
  align-items: center; /* Center the cards horizontally */
}

.weather-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; /* Fixed width for consistency */
}

.day {
  font-size: 18px;
  font-weight: bold;
}

.temp {
  font-size: 16px;
  margin-top: 5px;
}

.icon img {
  width: 50px;
  height: 50px;
}

.condition {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.load {
  color: #fdfdfd;
}

/* ------------------------------------- quotes.jsx ------------------------------------- */
.quote .container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  font-style: italic;
  color: #e4e932;
  background-color: #1a0841;
  width: 70%;
}
/* ------------------------------------- map.jsx ------------------------------------- */

.map-container {
  display: flex;
}

.route-details {
  width: 30%;
  padding: 20px;
  background: #f8f8f8;
}

.route-details h2 {
  margin-top: 0;
}

.route-details label {
  display: block;
  margin-bottom: 10px;
}

.route-details .Select {
  margin-bottom: 20px;
}

.container {
  display: flex;
}

.map {
  flex: 3; 
  height: 100vh; 
}

.sidebar {
  flex: 1; 
  padding: 10px;
  background-color: #f0f0f0;
  height: 100vh; 
  overflow-y: auto; 
}

.sidebar input {
  width: calc(100% - 22px); 
  margin-bottom: 10px;
  padding: 5px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.heading-clrs{
  color: rgb(71, 8, 148);
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.radio-buttons label {
  padding-right: 5px;
  display: inline-flex;
  align-items: center;
  margin: 0px;
}

.radio-buttons input[type="radio"] {
  margin-right: -250px;
}
/* ------------------------------------- journal.jsx ------------------------------------- */
#journal {
  background-color: var(--bgColor);
  margin: 0%;
  padding: 0%;
}

/* ------------------------------------- navbar.jsx ------------------------------------- */
div .container-fluid {
  padding: 0;
  margin: 0;
}

.container-fluid img {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

body .navbar {
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
}

nav {
  display: flex;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
  background-color: var(--bgColor);
  color: var(--textYellow);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-left: 1em;
  display: flex;
}

.nav-item {
  justify-content: center;
  margin: 1rem 1rem 0.75rem 1rem;
  width: auto;
}
.nav img {
  display: flexbox;
  justify-content: center;
  width: 50%;
}

#home_button img {
  display: block;
  width: 4rem;
  height: 4rem;
}

/* I want to add a tooltip or a hover with text */
.title h1 {
  padding: 0%;
  margin-top: 0.5rem;
}

.title h2 {
  font-size: 16px;
}

.journal-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0%;
  margin-left: auto;
}

.journal-button a {
  color: #f0f0f0;
  font-size: 1.25em;
  margin: 0 1em 1em 0;
  border: 0.009rem solid var(--textYellow);
  border-radius: 3px;
}

/* I want to add styling to the navbar for mobile version -> hamburger */
/* @media () */
