:root {
  background-color: #1a0841;
  padding: 0%;
  margin: 0%;
}

/* ------------------------------------- navbar.jsx ------------------------------------- */

.container-fluid {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.journal-button {
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  border-color: antiquewhite;
}

/* ------------------------------------- root.jsx ------------------------------------- */

nav {
  display: flex;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
  background-color: #1a0841;
  color: #e4e932;
}
.nav_list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav_item {
  margin-left: 20px;
}

/* Particular spacing in mobile mode */
@media (max-width: 420px) {
  nav {
    justify-content: space-between;
  }
}

a #home_button {
  display: block;
  width: 10%;
  height: auto;
  margin: auto;
}

img #journal {
  display: flex;
  align-items: flex-end;
}

/* quote and weather */

body {
  background-color: #1a1a3d;
}
.weather-container {
  text-align: center;
  margin: 20px;
}

.quote {
  text-align: center;
  margin-bottom: 50px;
  font-size: 24px;
  font-style: italic;
  color: #fdfdfd;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.city-input {
  padding: 15px;
  font-size: 20px;
  margin-right: 15px;
  width: 300px; /* Make the input field larger */
}

.submit-button {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
}

.weather-cards {
  display: flex;
  flex-direction: column; /* Display cards vertically */
  align-items: center; /* Center the cards horizontally */
}

.weather-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; /* Fixed width for consistency */
}

.day {
  font-size: 18px;
  font-weight: bold;
}

.temp {
  font-size: 16px;
  margin-top: 5px;
}

.icon img {
  width: 50px;
  height: 50px;
}

.condition {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.load {
  color: #fdfdfd;
}

/* src/components/Map.css */
/* src/components/Map.css */

.map-container {
  display: flex;
}

.route-details {
  width: 30%;
  padding: 20px;
  background: #f8f8f8;
}

.route-details h2 {
  margin-top: 0;
}

.route-details label {
  display: block;
  margin-bottom: 10px;
}

.route-details .Select {
  margin-bottom: 20px;
}
